<!doctype html>
<html lang="en" ng-app="QKDiary">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>QKDiary - Easy journaling</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="../static/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" type="text/css" src="https://fonts.googleapis.com/css?family=Roboto:300,100,500,400,700">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="../static/components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../static/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../static/components/bootstrap/js/modal.js"></script>
  <script type="text/javascript" src="../static/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../static/components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-moment/angular-moment.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <link rel="stylesheet" type="text/css" href="../static/css/qkdiary.css">
  <script type="text/javascript" src="../static/dist/js/qkdiary.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            QKDiary
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <div class="text-center sidebar-nav-wrapper">
          <li class="sidebar-list">
            <div>
              <a href ng-click="showAll()"><span class="menu-icon fa fa-calendar"></span><br><p class="sidebar-label">Memories</p></a>
            </div>
          </li>
          <li class="sidebar-list">
            <a href ng-click="toggleFavorites()"><span class="menu-icon fa fa-star"></span><br><p class="sidebar-label">Favourites</p></a>
          </li>
          <li class="sidebar-list">
            <a href><span class="menu-icon fa fa-cogs"></span><br><p class="sidebar-label">Settings</p></a>
          </li>
        </div>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href>
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
            <div ng-controller="DropdownCtrl">
              <span class="user pull-right" uib-dropdown on-toggle="toggled(open)">
                <a href class="item pull-right" id="simple-dropdown" uib-dropdown-toggle>
                  <img src="../static/img/avatar.jpg">
                </a>
                <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
                  <li class="link">
                    <a href>
                      Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href ng-click="logout()">
                      Logout
                    </a>
                  </li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="ui-view-container">
          <div ui-view></div>
        </div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
