<!doctype html>
<html lang="en" ng-app="QKDiary">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>QKDiary - Easy journaling</title>
  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="../static/components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="../static/components/angular-xeditable/dist/css/xeditable.css">
  <link rel="stylesheet" type="text/css" src="https://fonts.googleapis.com/css?family=Roboto:300,100,500,400,700">
  <!-- endbuild -->
  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="../static/components/angular/angular.min.js"></script>
  <script type="text/javascript" src="../static/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="../static/components/bootstrap/js/modal.js"></script>
  <script type="text/javascript" src="../static/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-resource/angular-resource.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-animate/angular-animate.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="../static/components/moment/min/moment.min.js"></script>
  <script type="text/javascript" src="../static/components/angular-moment/angular-moment.min.js"></script>
  <!-- endbuild -->
  <!-- Custom Scripts -->
  <link rel="stylesheet" type="text/css" href="../static/css/qkdiary.css">
  <script type="text/javascript" src="../static/dist/js/qkdiary.js"></script>
</head>
<body ng-controller="MasterCtrl">
  <div id="user-page-wrapper">
    <div id="content-wrapper">
      <div class="page-content">
        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12">
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div class="ui-view-container">
          <div ui-view></div>
        </div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
