<div class="row">
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
  <div class="col-xs-12 entry-widget-container">
    <rd-widget>
      <rd-widget-header icon="fa-star" title="Jan 1st, 2015">
        <i class="fa fa-trash pull-right"></i>
        <i class="fa fa-pencil pull-right"></i>
      </rd-widget-header>
      <rd-widget-body classes="medium no-padding">
        <div class="row">
          <div class="entry-container col-xs-12">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at accumsan
            enim. Integer tempor iaculis turpis, eget mollis nibh. Phasellus in risus in
            sapien vestibulum imperdiet at eu purus. Nullam rhoncus vestibulum lacus, eu
            aliquet orci faucibus in. Phasellus ac augue et ante varius varius. Phasellus
            sed turpis tempus, porttitor libero eget, eleifend dui. Sed tincidunt turpis ut
            lorem ultrices, condimentum sodales massa aliquet. Pellentesque eget eros sit
            amet tellus congue aliquam at at lorem. Curabitur id arcu lectus.
          </p>
        </div>
        </div>
      </rd-widget-body>
    </rd-widget>
  </div>
</div>

<!--SpinKit used to be here-->
